@page
@model GroupMessagesModel
@{
    ViewData["Title"] = "Group Messages";
    Layout = "_Layout";
}

<div class="container mt-4">
    <h2 class="text-primary">Group Messages</h2>
    <div class="row">
        <div class="col-md-4">
            <h5>Your Groups</h5>
            <ul class="list-group">
                @foreach (var group in Model.Groups)
                {
                    <li class="list-group-item">
                        <a asp-page="GroupMessages" asp-route-groupId="@group.Id">
                            @group.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-8">
            <h5>Messages</h5>
            <div class="messages-box">
                @foreach (var message in Model.Messages)
                {
                    <div class="message @message.IsSentByUser ? "sent" : "received"">
                        <p>@message.Content</p>
                        <small>@message.Timestamp.ToString("g")</small>
                    </div>
                }
            </div>
            <form method="post">
                <div class="input-group mt-3">
                    <input type="text" name="MessageContent" class="form-control" placeholder="Type a message...">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
